[Desktop Entry]
Name=Cloudhop
GenericName=Cloudhop
Comment=Create app launcher icons for websites
Categories=Utility;Programming;
Exec=com.github.bertgoens.cloudhop
Icon=com.github.bertgoens.cloudhop
Terminal=false
Type=Application
Keywords=desktop;internet;website;favorite;launcher;